{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="container">
    <h1>Un mail de confirmation vous a été envoyé</h1>
    <a href="https://mailtrap.io/inboxes/1777313/messages/2826131710" class="btn btn-info">Voir le mail</a>
</div>

{% endblock %}
