<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Site immobilier{% endblock %}</title>
        <!-- Favicon-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block nav %} {% include('includes/_navbar.html.twig') %} {% endblock %}
        {% block header %} {% include('includes/_header.html.twig') %} {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% include('includes/_footer.html.twig') %} {% endblock %}
        {% block javascript %}{% endblock %}
        <!-- Bootstrap JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>